[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/usr/bin/tinypaint %F
Name=TinyPaint
Name[en_US]=TinyPaint
MimeType=image/png
